header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.logo {
  width: 55px;
  height: 55px;
}
.logo2 {
  margin-left: 80%;
}
h1 {
  text-align: center;
}
.exercises-link {
  display: grid;
  height: 40%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
}

.exercise1 {
  /* background-color: blue; */
  background-image: url("../img/center.png");
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  text-align: left;
  margin-left: 1%;
}
.exercise1,
.exercise2 a {
  text-decoration: none;
}
.exercise2 {
  /* background-color: rgb(255, 166, 0); */
  background-image: url("../img/leon.png");
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-left: 1%;
}

.exercise3 {
  /* background-color: rgb(255, 20, 196); */
  background-image: url("../img/fondo.jpg");
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  text-align: left;
  color: white;
  margin-left: 1%;
}
.exercise4 {
  /* background-color: rgb(99, 233, 66); */
  background-image: url("../img/physoft.png");
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  text-align: left;
  color: rgb(0, 0, 0);
  margin-left: 1%;
}
footer {
  background-color: black;
  color: aliceblue;
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  height: 15%;
  width: 100%;
}
.option_footer {
  width: 30%;
}
.option_footer {
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-decoration: none;
}
.footer-right {
  text-align: center;
  margin: auto;
}
